<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> classification </h1>
    
    <% if(classification){%>
        <p>This mail is <%= classification%></p>
    <%} %>
</body>
</html>